<div ng-controller="MinistriesCtrl">

    <form ng-submit="newMinistry()">
        <label>Add Ministry</label>
        <br/>
        <div class="form-group">
        <input type='text' class="form-control input-sm"
               placeholder='Enter Ministry Name' 
               ng-model="addMinistry" 
               ng-required/>
               <button type='submit' class="btn btn-success">Add</button>
        </div>
    </form>
    {{addStatus}}


    <br/>
    <form ng-submit="searchMinistry()">
        <label>Search Ministry</label>
        <br/>
        <div class="form-group">
        <input type='text' class="form-control input-sm"
               placeholder='Enter Ministry ID' 
               ng-model="searchID" 
               ng-required/>
                <button type='submit' class="btn btn-success">Search</button>
        </div>
    </form>
    {{searchStatus.name}}
    <br/>


    <br/>
    <table class='table table-bordered' border='1'>
        <thead>
            <tr>
                <th>Number</th>
                <th>Ministry ID</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ministry in ministries">
                <td>{{$index + 1 }}</td>
                <td>{{ministry.id}}</td>
                <td>{{ministry.name}}</td>
                <td><a href='/#/ministries' 
                        ng-click="deleteMinistry(ministry.id)">DELETE</a></td>
                <td><a href='/#/ministries'
                        data-toggle="modal"
                        data-target="#myModal"
                        ng-click="updateModal(ministry)">UPDATE</a></td>
            </tr>
        </tbody>
    </table>
    <br/>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Upadte Ministry</h4>
                </div>
                <div class="modal-body">
                    <input type='hidden' 
                           ng-model="ministryID" 
                           value="ministryID" 
                           ng-required/>
                    <input type='text' class="form-control input-sm"
                           ng-model="ministryName" 
                           value="ministryName" 
                           ng-required/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"
                            ng-click="updateMinistry(ministryID,ministryName)"
                            data-dismiss="modal">SAVE</button>
                    <button class="btn" 
                            data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </div>
    </div>




</div>
