<!-- Contents -->
<div class="row">

  <!-- Announcements -->
	<div class="col-sm-8">
		<div class="panel panel-primary" id="login_announcement">
      <div class="panel-heading">Announcements</div>
      <div class="panel-body">
        <p class="text-justified">Lorem ipsum dolor sit amet, consectetur adipscing
        elit. Sed in erat ac libero sollicitudin bibendum.
        </p>
      </div>
		</div>
	</div>
  <!-- Announcements End -->

  <!-- login -->
	<div class="col-sm-4">
		<div class="panel panel-primary" id="login_fields">
			<div class="panel-heading">Log-in</div>
			
      <div class="panel-body">
        <form ng-submit="submit()">
					<div class="row col-sm-12">
						Username: <input ng-model="user.username" type="textbox">
					</div>
					<div class="row col-sm-12">
						Password: <input ng-model="user.password" type="password">
					</div>
					<div class="row col-sm-12">
						<input type="submit" class="btn btn-primary btn-md" value="Log In"/>
					</div>
        </form>
        <a href="#">Forgot password</a>
      </div>
      
		</div>
	</div>
  <!-- Login end -->

</div>
<!-- Contents end -->
