.greeny {
  background-color: #20c063;
}

.head-logo {
	height: 100px;
	width: 100%;
}

.head-banner {
	height: 100px;
	width: 100%;
}

.zero-pad {
	padding: 0px;
}

.navbar-nav2 > li > a {
	padding: 10px 10px !important;
	color: white !important;
	line-height: 14px;
	font-weight: normal;
}

.row {
	margin-left: -15px;
	margin-right: 0px !important;
}

.navbar-brand2 {
	height: 0px !important;
}

.navbar2 {
	min-height: 0px !important;
}