/* Custom CSS */
/* Generic base style */
* {
  margin : 0;
}

html,
body {
	height	:	100%;
}

.container {
  min-height : 100%;
}

.wrapper {
  min-height : 100%;
  height : auto !important;
  height : 100%;
  margin : 0 auto -60px;
}

.bottom-buffer {
  margin-bottom : 20px;
}

.footer,
.push {
  height : 60px;
}

.footer {
  background-color : black;
}

.jumbotron-banner {
  margin-bottom : 0px;
  min-height : 10px;
}

.status-bar {
  overflow : hidden;
  background-color : grey;
  border-radius : 3px;
}


.status-bar [class*="col-"]{
  margin-bottom : -99999px;
  padding-bottom : 99999px;
}

/* Home view style */
.upcoming-events {
  height:150px;
  overflow:auto;
}



