/* Custom CSS */
* {
  margin : 0;
}

html,
body {
	height	:	100%;
}

.container {
  min-height : 100%;
}

.wrapper {
  min-height : 100%;
  height : auto !important;
  height : 100%;
  margin : 0 auto -60px;
}

.upcoming-events {
  height:150px;
  overflow:auto;
}

.bottom-buffer {
  margin-bottom : 20px;
}

.footer,
.push {
  height : 60px;
}

.footer {
  background-color : black;
}
