/* Custom CSS */
/* getbootstrap.com/examples/sticky-footer/sticky-footer.css */

html {
	/* position		: relative; */
	min-height	:	100%;
}

body {
	/* Margin bottom by footer height */
	min-height	:	100%;
	overflow	:	auto;
}

.footer {
	position					:	absolute;
	bottom						:	0;
	width							:	100%;
	/* Set the fixed height of the footer here */
	/* height						: 60px; */
	/* background-color	: #f5f5f5; */
	background-color	:	black;
}

.well#footer {
  margin  : 0px;
}
